.wrap{
    display: flex;
    margin: 0 auto;
    
}
.seasons{
    text-align: center;
}
.cast{
    align-items: center;
}
.name{
    max-width: fit-content;
    margin: 0 auto;
}
img{
    width: 100%;
}
ul {
    list-style-type: none;
  }