.header{
    background-color: lightgray;
    padding: 30px;
    margin-bottom: 35px;
    box-shadow: 5px 5px 5px black;
    h2{
        cursor: pointer;
        color: black;
        text-decoration:none;
        text-align: center;
        max-width: fit-content;
        margin: 0 auto;
    }
    
}