.wrap{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 30px;
    border: solid lightgray;
    box-shadow: 5px 5px 5px lightgrey;
    h4{
        text-align: center;
    }

}
.episodes{
    background-color: rgb(47, 100, 153);
    max-width: fit-content;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 13px;
    margin: 0 auto;
    color: white;
}

